.menu {
  position: fixed;
  display: flex;
  z-index: 999;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    transform: translate(-20px, -44px);
  }
}
.body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-146%) translateY(-50%);
  width: 100%;
  .el {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    perspective: 80vw;
    transform-origin: top;
    &:last-of-type {
      border-bottom: 1px solid white;
    }
    &:hover {
      .outer {
        .container {
          opacity: 1;
        }
      }
    }
  }
  a,
  p {
    color: white;
    text-transform: none;
    font-size: 5vw;
    line-height: 5.8vw;
    font-weight: 400;
    margin: 0px;
    text-decoration: none;
  }
  .outer {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    will-change: top;
    .inner {
      background-color: #b98d6b;
      position: absolute;
      white-space: nowrap;
      height: 100%;
      top: 100%;
      display: flex;
      will-change: top;
      .container {
        display: flex;
        align-items: center;
        animation: slider 12s linear infinite;
        transition: opacity 0.3s;
        position: relative;
        opacity: 0;

        &:nth-of-type(2) {
          transition-delay: -4s;
        }
        &:nth-of-type(3) {
          transition-delay: -6s;
        }

        p {
          color: black;
        }
      }
    }
    .background {
      background-color: #d3fd50;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 100%;
    }
  }
}
@keyframes slider {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@media screen and (max-width: 768px) {
  .el a,
  .el p {
    font-size: 7vw;
    line-height: 8vw;
  }
  .body .el {
    border-top: 0.7px solid white;
  }
  .body .el:last-of-type {
    border-bottom: 0.7px solid white;
  }
  .body {
    transform: translateX(-140%) translateY(-50%);
  }
}

@media screen and (max-width: 480px) {
  .el a,
  .el p {
    font-size: 9vw;
    line-height: 10vw;
  }
}
