.container {
  height: 100vh;
  background: url("/medias/bg_final.jpg") center / cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;


h1 {
  font-size: 4rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
  max-width: 600px;
}
}
.button {
  background: white;
  color: black;
  padding: 0.75rem 2rem;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #e0e0e0;
}
